<!doctype html>
<html lang="en">
<head>
  <title>Catalog Home</title>
  {% include "head.html" %}
</head>
<body>
  {% include "header.html" %}
  {% include "flash.html" %}
  {% if user > 0 %}
   {% include "links.html" %}
  {% else %}
   {% include "links_public.html" %}
  {% endif %}
  <div id = "links1" class = "links padding">
     </br>
     {% if user >= 1 %}
       <button type="button">
         <a href='{{url_for('newCategory')}}'>Create a New Category</a>
       </button>
     {% endif %}
  </div>
  <!-- genericItems section contains header and flex box menu of work -->
  <div id="genericItems" class="genericItems">
    <div class="genericItems-padding padding">
     <!-- flex box menu using figures with links within fig captions -->
      <div id="genericItems-menu" class="genericItems-menu">
         <h3 class="intro-description-h3"> Catalog Categories </h3>
        <!-- menu item -->
        {% for c in categories %}
        <div class="genericItems-menu-item">
          <a href='{{url_for('showCategory', category_id = c.id)}}'>
            {{c.name}}
          </a>
        </div>
       {% endfor %}
        <!-- menu item -->
      <!--end menu of work items -->
      </div>
    <!--end genericItem padding div -->
   </div>
  <!-- end genericItems section -->
  </div>


</body>

</html>
