<!doctype html>
<html lang="en">
<head>
<title>Delete an Item</title>
{% include "head.html" %}
</head>
<body>
{% include "header.html" %}
{% include "flash.html" %}
{% include "links.html" %}
  <div id = "links1" class = "links padding">
     </br>
     <button type="button">
      <a href='{{url_for('showCategory', category_id = item.category_id)}}'>
       Return to Category
      </a>
   </div> 
 
<!-- genericItems section contains header and flex box menu of work -->
  <div id="genericItems" class="genericItems">
    <div class="genericItems-padding padding">
     <!-- flex box menu using figures with links within fig captions -->
     <div id="genericItems-menu" class="genericItems-menu"> 
      <form class="genericItems-menu" action="{{url_for('deleteItem', item_id=item.id )}}" method = 'POST'>
       <div class="genericItems-menu-item2">
        <h2> Are you sure you want to delete {{item.name}}? </h2>
        </div>
        <!-- menu item -->
      <button class="genericItems-menu-button" type="submit">Delete</button>
      <button  class="genericItems-menu-button" type="button">
      <a href= '{{url_for('showItem', item_id=item.id)}}'>Cancel</a>
       </button>
      </br>
     </form>
      <!--end menu of work items -->
      </div>
    <!--end genericItem padding div -->
   </div>
  <!-- end genericItems section -->
  </div>

</body>
</html>

