<html lang="en">
<head>
  <title>Edit A Category</title>
  {% include "head.html" %}
</head>
<body>
  {% include "header.html" %}
  {% include "flash.html" %}
  {% include "links.html" %}


<!-- genericItems section contains header and flex box menu of work -->
  <div id="genericItems" class="genericItems">
    <div class="genericItems-padding padding">
     <!-- flex box menu using figures with links within fig captions -->
     <div id="genericItems-menu" class="genericItems-menu"> 
      <form class="genericItems-menu" action="{{url_for('editCategory', category_id=category.id )}}" method = 'POST'>
       <!-- menu item -->
       <div class="genericItems-menu-item2">
           <p class="genericItems-menu-p">Name:</p>
          <input class="genericItems-menu-input" type ='text' name='name' value='{{category.name }}' placeholder = '{{category.name }}'/>
       </div>
       <div class="genericItems-menu-item2">
           <p class="genericItems-menu-p">Description:</p>
          <textarea class="genericItems-menu-input" rows="5" col="60"; name='description' value='{{category.description }}'>
          {{category.description }}
         </textarea>
        </div>
        <!-- menu category -->
      <button class="genericItems-menu-button" type="submit">Submit Edit</button>
      <button  class="genericItems-menu-button" type="button">
      <a href= '{{url_for('showCategory', category_id=category.id)}}'>Cancel</a>
       </button>
      </br>
     </form>
      <!--end menu of work items -->
      </div>
    <!--end genericItem padding div -->
   </div>
  <!-- end genericItems section -->
  </div>

</body>
</html>
