<!-- header flex box for logo and titles responsiveness -->
  <header id="header" class="header">
    <div class="header-padding padding"> 
      <!-- logo -->
        <div class="header-logo-div">
          <img class="header-logo" alt="udacity-Logo" src="/static/udacity-logo.svg">
        </div>
        <!-- name and title -->
        <div class="header-title-div">
          <h1 class="header-title1">Udacity Sample Catalog Application</h1>
        </div>
    </div>
   <!-- end header -->
  </header>