<!doctype html>
<html lang="en">
<head>
  <title>Item</title>
  {% include "head.html" %}
</head>
<body>
  {% include "header.html" %}
  {% include "flash.html" %}
  
  <!-- Display correct links if user is logged in.
       or is the owner -->
  {% if user > 0 %}
   {% include "links.html" %}
  {% else %}
   {% include "links_public.html" %}
  {% endif %}

   <div id = "links1" class = "links padding">
     </br>
     <button type="button">
      <a href='{{url_for('showCategory', category_id = item.category_id)}}'>
       Return to Category
      </a>
     </button>
     {% if user == 2 %}
      <button type="button">
        <a href='{{url_for('editItem', item_id = item.id)}}'>
        Edit Item
        </a>
      </button>
     <button type="button">
        <a href='{{url_for('deleteItem', item_id = item.id)}}'>
        Delete Item
        </a>
      </button>
     {% endif %}
  </div>

  <!-- genericItems section contains header and flex box menu of work -->
  <div id="genericItems" class="genericItems">
    <div class="genericItems-padding padding">
     <!-- flex box menu using figures with links within fig captions -->
      <div id="genericItems-menu" class="genericItems-menu">
      <h3 class="intro-description-h3"> {{ item.name }} </h3>
        <!-- menu item -->
      <div class="genericItems-menu-item">
           Price: ${{item.price}}
        </div>
        <div class="genericItems-menu-item1">
           {{item.description}}
        </div>
        <!-- menu item -->
      <!--end menu of work items -->
      </div>
    <!--end genericItem padding div -->
   </div>
  <!-- end genericItems section -->
  </div>

</body>
</html>