<html lang="en">
<head>
  <title>New Item</title>
  {% include "head.html" %}
</head>
<body>
  {% include "header.html" %}
  {% include "flash.html" %}
  {% include "links.html" %}


<!-- portfolio work section contains header and flex box menu of work -->
  <div id="portfolio-work" class="portfolio-work">
    <div class="portfolio-padding padding">
     <!-- flex box menu using figures with links within fig captions -->
     <div id="portfolio-menu" class="portfolio-menu"> 
      <form class="portfolio-menu" action="{{url_for('newItem', category_id=category_id )}}" method = 'POST'>
       <!-- menu item -->
       <div class="portfolio-menu-item2">
           <p class="portfolio-menu-p">Name:</p>
          <input class="portfolio-menu-input" type ='text' name='name'  />
       </div>
       <div class="portfolio-menu-item2">
           <p class="portfolio-menu-p">Price:</p>
          <input class="portfolio-menu-input" type="number" min="0.01" step="0.01" name="price" placeholder="0.01" placeholder="$0.01" />
        </div>
        <div class="portfolio-menu-item2">
           <p class="portfolio-menu-p">Description:</p>
          <textarea class="portfolio-menu-input" rows="5" col="60"; name='description' >
         </textarea>
        </div>
        <!-- menu item -->
      <button class="portfolio-menu-button" type="submit">Add Item</button>
      <button  class="portfolio-menu-button" type="button">
      <a href= '{{url_for('showCategory', category_id=category_id)}}'>Cancel</a>
       </button>
      </br>
     </form>
      <!--end menu of work items -->
      </div>
    <!--end portfolio padding div -->
   </div>
  <!-- end portfolio work section -->
  </div>

</body>
</html>
